<div class="jumbotron jumbotron-fluid animated fadeIn fast">
    <div class="container">
        <h1 class="display-4">Superhéroes</h1>
        <hr>
        <p class="lead">Un superhéroe es un personaje de ficción pues sus características superan las del héroe clásico, generalmente con poderes sobrehumanos aunque no necesariamente, y entroncado con la ciencia ficción. Generados a finales de los años 1930 en la industria
            del comic book estadounidense, que contribuyeron a levantar, han gozado de multitud de adaptaciones a otros medios, especialmente el cine.</p>
    </div>
</div>